<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/web-services
           http://www.springframework.org/schema/web-services/web-services.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan
            base-package="pl.lodz.p.user, pl.lodz.p.user.ui, pl.lodz.p.user.soap.adapter, pl.lodz.p.user.soap.endpoint" />

    <sws:annotation-driven/>

<!--    <bean id="helloEnd" class="pl.lodz.p.user.ui.SOAPUserServicePort.lodz.p.soap.endpoint.HelloWorldEndpoint"/>-->
<!--    <bean id="userEnd" class="endpoint.pl.lodz.p.user.soap.UserEndpoint"/>-->
<!--    <bean id="userService" class="service.pl.lodz.p.user.core.services.UserService"/>-->
<!--    <bean id="jwtFilter" class="security.pl.lodz.p.user.core.services.JwtFilter"/>-->
<!--    <bean id="tokenProvider" class="security.pl.lodz.p.user.core.services.JwtTokenProvider"/>-->
<!--    <bean id="jwsProvider" class="security.pl.lodz.p.user.core.services.JwsProvider"/>-->
<!--    <bean id="customAuthEntryPoint" class="pl.lodz.p.user.core.services.CustomAuthenticationEntryPoint"/>-->

<!--    <sws:dynamic-wsdl id="helloEndpoint"-->
<!--                      portTypeName="HelloPort"-->
<!--                      locationUri="/helloService"-->
<!--                      targetNamespace="http://example.com/hello">-->
<!--        <sws:xsd location="/WEB-INF/hello.xsd"/>-->
<!--    </sws:dynamic-wsdl>-->
<!--    <sws:dynamic-wsdl id="userEndpoint"-->
<!--                      portTypeName="UserPort"-->
<!--                      locationUri="/userService"-->
<!--                      targetNamespace="http://p.lodz.pl/users">-->
<!--        <sws:xsd location="/WEB-INF/users.xsd"/>-->
<!--    </sws:dynamic-wsdl>-->

    <bean id="loggingInterceptor" class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor">
        <property name="logRequest" value="true"/>
        <property name="logResponse" value="true"/>
    </bean>

    <sws:interceptors>
        <ref bean="loggingInterceptor"/>
    </sws:interceptors>

</beans>